
body{

    background-color: rgb(32, 24, 22);
    margin: 0px;
    padding: 0px;
    color: whitesmoke;
    justify-content: space-between;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    
}  


.buttons{

    padding: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    border-radius: 12px;
}

.navbar{

    height: 10vh;
}




.recbody{
    
    color: rgb(252, 249, 249);
   background-color: rgb(124, 68, 36);
    height:30vh;
    width:50% ;
    margin: 100px auto;
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 14px;
  
    

}

.recbody span{

    background-color: rgb(80, 56, 56);
}

.row{

    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    border-radius: 8px; 
    box-shadow: 2px 4px 8px rgba(122, 90, 52, 0.1); 
    background-color: burlywood;
    
}




.c-item{
 height:480px;
 margin: 20px auto;
 
}

.c-img{
     height: 100%;
     object-fit:cover;
     filter : brightness(0.6);

}

.container{
    display: flex;
}

.image-container,
.image-container-2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
   
}
.left-image,
.right-image {
   width: 175%;
     height: 65vh;
}

.left-image {
    margin: 0;
   
}

.right-image {
    margin-left: 0;
}

.card{
background-color: rgb(136, 68, 41);
margin: 20px ;
height: vh;
width: 800px;
border-radius: 25px;
color: white;
flex:1;
margin-right:10px;
}

.card-page{
   margin: 30px auto;
   color: white ;
   width: 100%;

}





.au-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; margin-top: 30px;
    margin: 30px auto;
    box-sizing: border-box;
}

.au-row {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.col-sm, .col-md {
    flex: 1 0 37%; 
    margin: 1%; 
    width: 40%;
}


@media (max-width: 767px) {
    .col-sm, .col-md {
        flex: 1 0 100%;
        margin: 1%;
    }
}

.rightgif img{

    height: 40vh;
    width:85% ;
    margin: 20px auto;
}

.leftgif{

    height: 40vh;
    width: 50%;
    margin:10px auto;
}

/* .contactus_page{

    height: auto;
    width: 37%;
    border-radius: 12px;
    padding:60px auto;
    height: 
    
} */





#recommendation{
    text-align: center;
    background-image: url(images/giphy\ \(4\).gif);
    width: 25%;
    max-width: 400px;
    margin: 0 auto;
    color: rgb(218, 200, 200);
    padding: 20px;
    border-radius: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media(max-width:600px){
    #recommendation{
        width:90%
    }
}


#comment-form{
  display: flex;
  justify-content: center;
  text-align: left;
  width:30%;
}

#comments-container{
      display: flex;
      text-align: right;
      
}

.commentsection{
   height:30vh;
   width:100%;

}

#comments-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
    background-color: white;
    height: 15vh;
}


.commentsection{
    height:30vh;
    width:100%;
 }
 
 #comments-container {
     max-width:2000px;
     margin: auto;
     padding: 10px;
     border: 5px solid #d87e09;
     border-radius: 15px;
     margin-top: 20px;
     text-align: left;
 }

#comment-form{

    width: 100%;

}


.card-body{
    padding: 20px;
}

.c-txt button{
    border-radius: 5px;
    box-shadow: 2px brown;
    background-color:burlywood ;
    color: white;
}

.form-container{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; margin-top: 30px;
    margin: 30px auto;
    box-sizing: border-box;
   
}

.col-forms{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    
}

.row-forms{
    margin: 50px auto;
    height:50vh;
    background-color: burlywood;
    align-items: center;
    justify-content: center;
    display: flex;
}

.card-2{
    background-image: url(images/deathnote.gif);
    background-size: cover;
    font-style: bold;
    margin: 20px auto;
    height: 40vh;
    padding: 20px auto;
    border-radius: 12px;
    font-size:19px;
    
}

/* #signup form{

    text-align: center;
    margin: 20px auto;
    padding: 10px auto;
    border-radius: 12px;
} */



